@import url('"https://fonts.googleapis.com/css2?family=Iceland&display=swap"');
@import "tailwindcss";

@theme {
    --animate-marquee: marquee 60s linear infinite;
    --animate-marquee2: marquee2 60s linear infinite;

    @keyframes marquee {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(0%);
        }
    }

    @keyframes marquee2 {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(0%);
        }
    }
}